* {
  display: block;
  background-color: hsla(48, 100%, 96%, 1);
  color: #300309;
  font-family: "Lucida Console", "Courier New", monospace;
}
body {
  margin: 0;
}

.site-header {
  /* padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px solid black; */
  position: sticky;
  top: 0;
  background-color: transparent;
}

.site-header-section-top,
.site-header-section-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-section-top {
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px solid black;
  background-color: transparent;
  backdrop-filter: blur(40px);
}
.site-header-section-top h1,
a {
  background-color: transparent;
}

.site-header-section-bottom {
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 1px solid black;
  background-color: hsla(48, 100%, 96%, 1);
}
.project-header-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.site-header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.navigation-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 110px;
}
.about-section {

  padding: 40px;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  padding: 40px;
}

.project-card {
  border: 1px solid black;
}

.project-card a {
  color: black;
  text-decoration: none;
}

.project-card img,
.project-card video {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
}

.project-info {
  padding: 20px;
}

.project-info h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.project-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
}

.project-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.project-description {
  margin-bottom: 40px;
  border-bottom: 1px solid black;
}

.media-grid {
  display: grid;
  gap: 30px;
}

.media-grid img,
.media-grid video {
  /* border: 1px solid black; */
  width: 100%;
}

.back-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.collection {
  display: flex;
  width: 100%;
  height: 500px;
  flex-direction: row;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}
.container::-webkit-scrollbar {
  display: none; /* Older Safari and Chromium */
}
.collection img,
.collection video {
  width: auto;
  height: 100%;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .site-header,
  .project-grid,
  .project-page {
    padding: 20px;
  }
  .site-header {
    position: relative;
  }
}
